services:
  db:
    image: postgres:17
    container_name: moviebooking-db
    restart: always
    ports:
      - "5433:5432"
    env_file:
      - ./backend/.env
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      # Command to check if the PostgreSQL server is ready
      test: ["CMD", "pg_isready", "-U", "postgres"] 
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: redis:7-alpine
    container_name: moviebooking-redis
    restart: always
    ports:
      - "6379:6379"
    command: >
      redis-server
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
      --save ""
      --appendonly no
    healthcheck:
      # Command to check if the Redis server is ready using redis-cli
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  moviebooking:
    image: moviebooking-app
    build: ./backend
    container_name: moviebooking-app
    ports:
      - "8080:8080"
      - "5005:5005"
    env_file:
      - ./backend/.env
    # Use condition: service_healthy to wait for dependencies to be healthy
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      # Command to check if the application's health endpoint is reachable (adjust endpoint as needed)
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  # -----------------------------
  # Monitoring Stack
  # -----------------------------

  prometheus:
    image: prom/prometheus
    container_name: prometheus_moviebooking
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-remote-write-receiver'
    volumes:
    - ./k6-tests/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - moviebooking
      - node-exporter
      - postgres-exporter

  grafana:
    image: grafana/grafana
    container_name: grafana_moviebooking
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    ports:
      - "9100:9100"

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: postgres-exporter
    env_file:
      - ./backend/.env
    ports:
      - "9187:9187"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
  grafana_data: