services:
  db:
    image: postgres:17
    container_name: moviebooking-db
    restart: always
    ports:
      - "5433:5432"
    env_file:
      - ./backend/.env
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: moviebooking-redis
    restart: always
    ports:
      - "6379:6379"
    command: >
      redis-server
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
      --save ""
      --appendonly no

  moviebooking:
    image: moviebooking-app
    build: ./backend
    container_name: moviebooking-app
    ports:
      - "8080:8080"
      - "5005:5005"
    env_file:
      - ./backend/.env
    depends_on:
      - db
      - redis

  # -----------------------------
  # Monitoring Stack
  # -----------------------------

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-remote-write-receiver'
    volumes:
    - ./k6-tests/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - moviebooking
      - node-exporter
      - postgres-exporter

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    ports:
      - "9100:9100"

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:postgres@db:5432/moviebooking?sslmode=disable"
    ports:
      - "9187:9187"
    depends_on:
      - db

volumes:
  db_data:
  grafana_data:
